.add-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 15px 50px;
  align-items: center;
}
.add-button p {
  font-size: 18px;
  font-weight: 600;
  font-family: "Averia Libre", serif;
  margin-top: 20px;
  border-bottom: 1px solid rgb(216, 215, 215);
  padding-bottom: 6px;
}

.category-list {
  padding: 15px 50px;
}
