.slider-container {
  overflow: hidden;
  margin-top: 6%;
  margin-bottom: 10%;
  display: flex !important;
  justify-items: center !important;
  justify-content: center !important;
  /* border: 1px solid red; */
}

.category {
  background: white;
  box-shadow: rgb(95 97 238 / 17%) 0px 0px 14px;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 60% !important;
  display: flex !important;

  padding: 10px 30px;
  border-radius: 5px;
}

.category p {
  font-weight: 500;
}

.categories-section {
  padding: 2% 0;
}
