nav {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}
nav .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.wrapper .logo {
  display: flex;
  font-family: "Averia Libre", serif;
  font-size: 22px;
  font-weight: 600;
}
.wrapper .nav-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  border-bottom: 3px solid #f08f33;
}

.mobile-menu-icon {
  display: none;
  color: #5a5cda;
  font-size: 30px;
  cursor: pointer;
}

.mobile-menu-icon-cross {
  display: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
  padding: 2% 7%;
}
.logo a img {
  width: 50px;
}

/* responsive media */
@media (max-width: 768px) {
  .wrapper .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: -16px;
    left: 125px;
    width: 73%;
    background: gray;
    height: 100vh;
    padding: 17px 0;
  }
  .wrapper .nav-links.active {
    display: flex;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon-cross {
    display: block;
  }
  .nav-links li {
    text-align: center;
    width: 100%;
  }
  .nav-links li a:hover {
    width: 50%;
    margin: auto;
  }

  .nav-links li a {
    padding: 10px 0;
    border-radius: 0;
    display: block;
  }
}
.nav-user img {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(139, 142, 153);
  border-radius: 100%;
}

.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0 5px;
}
.nav-user p {
  margin: 0;
}
